<h1><%= @user.username %>'s Profile</h1>

<% @user.tweets.each do |tweet| %>
  <%= tweet.message %> <br>
<% end %>

<br>
<%= link_to "Follow", relationships_path(friend_id: @user), method: :post, class: 'btn btn-info btn-xs' %>